*.hs filter=lfs diff=lfs merge=lfs -text
/Cmdline.hs filter=lfs diff=lfs merge=lfs -text
HsLua/Setup.hs !filter !diff !merge text
HsLua/src/Scripting/Lua.hs !filter !diff !merge text
HsLua/tests/HsLuaMain.hs !filter !diff !merge text
